
@{
    Layout = null;
}
@*admin layout indexe bağladık ve admin controllerdan yönetimi yapılıyor ve *@

<!DOCTYPE html>
<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<body>

    <!-- Sidebar -->
    <div class="w3-sidebar w3-light-grey w3-bar-block" style="width:18%">
        <h3 class="w3-bar-item">Menüler</h3>
         <a href="/Admin/Index/" class="w3-bar-item w3-button">-Blog</a>
        
        <a href="/Admin/YorumListesi/" class="w3-bar-item w3-button">-Yorumlar</a>
       
        <a href="/Admin/MesajListesi/" class="w3-bar-item w3-button">-Mesajlar</a>
        
        <a href="/Admin/Hakkımızda/" class="w3-bar-item w3-button">-Hakkımızda</a>
        
        <a href="/Default/Index/" class="w3-bar-item w3-button">-Anasayfaya Git</a>
        <a href="/GirisYap/Login/" class="w3-bar-item w3-button">-Çıkış Yap</a>
    </div>

    <!-- Page Content -->
    <div style="margin-left:18%">
        <div class="w3-light-gray ">
            <p style=" font-size:29pt; font-family:Verdana; ">Travel Admin Paneli</p>
        </div>

        @*<img src="img_car.jpg" alt="Car" style="width:100%">*@

        <div class="w3-container">
            @RenderBody()
            @*<h2>Sidebar Navigation Example</h2>
            <p>The sidebar with is set with "style="width:25%".</p>
            <p>The left margin of the page content is set to the same value.</p>*@
        </div>

    </div>

</body>
</html>

