@using TravelTripProje.Models.Sınıflar @*// bu ifade model içinde sınıflara ulaşmamızı sağlar*@
@model List<Hakkımızda>
@{
    ViewBag.Title = "IndexAbt";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}
@*//hakımda kısmı2*@

<div class="content">
    <div class="wrap">
        <div class="about">
            <h3> Blog Hakkında</h3>

            @*foreach klasi bir döngü ve in ile modelin içine gir p tagıyla ac değişkeni model yardımıyla yukarıdaki hakkımızdaki sql de değlerleri alır *@

            @foreach (var ac in Model)

            {



                <img src="@ac.FotoUrl" style=" max-width:500px; height:auto;" alt="" />

                <p style="font-size:16px; font-family:Verdana">@ac.Açıklama</p>

            }


        </div>
    </div>

</div>