
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}
@*//hakımda kısmı*@
<h2>About</h2>
<div class="content">
    <div class="wrap">
        <div class="about">
            <h3>Hakkımda</h3>
            <img src="~/web/images/about_banner.jpg" alt="" />
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismodi congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam; </p>
            <p>augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifendEodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes in futurum.</p>
            <p>Lorem ipsum non habent claritatem insitam; </p>
            <p>augue duis dolore te feugait nulla facilisi. Ndem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes in futurum.</p>
        </div>
    </div>
</div>

